.industryOverviewSection {
  display: flex;
  flex-direction: column;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/CNCIndustry_background.png");
  border-radius: 20px;
  position: relative;
}
.industryOverviewSection .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/texture.jpg") center/cover no-repeat;
  mix-blend-mode: darken;
  opacity: 0.55;
  pointer-events: none;
  z-index: 1;
  border-radius: 20px;
}
.industryOverviewSection .content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.flexColGroup {
  display: flex;
  flex-direction: column;
  gap: 174px 0;
  margin: 50px 37px 105px 35px;
}

.flexRowGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 24px;
}
@media (max-width: 1399px) {
  .flexRowGroup {
    flex-direction: column;
    gap: 8px 24px;
  }
}

.imageMachinery {
  width: 46.8%;
  min-width: 0;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}
@media (max-width: 1399px) {
  .imageMachinery {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}

.flexColBox {
  display: flex;
  flex-direction: column;
  place-content: stretch space-evenly;
  gap: 20px 0;
  width: 46.8%;
  min-width: 0;
}
@media (max-width: 1399px) {
  .flexColBox {
    width: 100%;
  }
}

.imageContainer {
  position: relative;
  min-height: 29.5rem;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/MillingMachine_Img.png");
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
@media (max-width: 1399px) {
  .imageContainer {
    min-height: 42rem;
  }
}
@media (max-width: 1199px) {
  .imageContainer {
    min-height: 38rem;
  }
}
@media (max-width: 991px) {
  .imageContainer {
    min-height: 25rem;
  }
}
@media (max-width: 767px) {
  .imageContainer {
    min-height: 22rem;
  }
}
@media (max-width: 575px) {
  .imageContainer {
    min-height: 20rem;
  }
}
@media (max-width: 479px) {
  .imageContainer {
    min-height: 14rem;
  }
}
@media (max-width: 383px) {
  .imageContainer {
    min-height: 13rem;
  }
}

.imageProcessing {
  position: absolute;
  right: 2.5%;
  bottom: 5%;
  width: 65px;
  height: 65px;
}
@media (max-width: 575px) {
  .imageProcessing {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 479px) {
  .imageProcessing {
    width: 55px;
    height: 55px;
  }
}

.titleMillingMachine {
  position: absolute;
  top: 5%;
  left: 2.5%;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 35px;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/Title_Background.png");
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}
@media (max-width: 1399px) {
  .titleMillingMachine {
    width: 95%;
    height: 15%;
  }
}

.medium_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(252, 233, 231);
  text-align: center;
}
@media (max-width: 1399px) {
  .medium_title {
    align-items: center;
    font-size: 48px;
  }
}
@media (max-width: 1199px) {
  .medium_title {
    font-size: 46px;
  }
}
@media (max-width: 767px) {
  .medium_title {
    font-size: 34px;
  }
}
@media (max-width: 575px) {
  .medium_title {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .medium_title {
    font-size: 18px;
  }
}

.flexColBox2 {
  position: relative;
  min-height: 29.5rem;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/CarMilling_Img.png");
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}
@media (max-width: 1399px) {
  .flexColBox2 {
    min-height: 42rem;
  }
}
@media (max-width: 1199px) {
  .flexColBox2 {
    min-height: 38rem;
  }
}
@media (max-width: 991px) {
  .flexColBox2 {
    min-height: 25rem;
  }
}
@media (max-width: 767px) {
  .flexColBox2 {
    min-height: 22rem;
  }
}
@media (max-width: 575px) {
  .flexColBox2 {
    min-height: 20rem;
  }
}
@media (max-width: 479px) {
  .flexColBox2 {
    min-height: 14rem;
  }
}
@media (max-width: 383px) {
  .flexColBox2 {
    min-height: 13rem;
  }
}

.imageProcessingAlt {
  position: absolute;
  right: 2.5%;
  bottom: 5%;
  width: 65px;
  height: 65px;
}
@media (max-width: 575px) {
  .imageProcessingAlt {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 479px) {
  .imageProcessingAlt {
    width: 55px;
    height: 55px;
  }
}

.flexColBox3 {
  position: absolute;
  top: 5%;
  left: 2.5%;
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 35px;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/Title_Background.png");
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
@media (max-width: 1399px) {
  .flexColBox3 {
    width: 95%;
    height: 15%;
  }
}

.titleCarMilling {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font: 600 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(252, 233, 231);
  text-align: center;
}
@media (max-width: 1399px) {
  .titleCarMilling {
    align-items: center;
    font-size: 48px;
  }
}
@media (max-width: 1199px) {
  .titleCarMilling {
    font-size: 46px;
  }
}
@media (max-width: 991px) {
  .titleCarMilling {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .titleCarMilling {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .titleCarMilling {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  .titleCarMilling {
    font-size: 16px;
  }
}
@media (max-width: 383px) {
  .titleCarMilling {
    font-size: 14px;
  }
}

.flexColGroup2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px 0;
  margin: 0 0 0 2px;
}

.heroTitleIndustry {
  font: 700 88px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
}
@media (max-width: 767px) {
  .heroTitleIndustry {
    align-items: flex-start;
    font-size: 80px;
  }
}
@media (max-width: 575px) {
  .heroTitleIndustry {
    font-size: 74px;
  }
}
@media (max-width: 479px) {
  .heroTitleIndustry {
    font-size: 60px;
  }
}

.flexRowGroup1 {
  display: flex;
  justify-content: space-evenly;
  gap: 0 8px;
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .flexRowGroup1 {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
@media (max-width: 1399px) {
  .flexRowGroup1 {
    flex-wrap: wrap;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}

.imagePairGroupAerospace {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 118px;
  width: 22.8%;
  min-width: 0;
}

.coverImageAerospace {
  position: relative;
  width: 100%;
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}

.image8Aerospace {
  position: absolute;
  right: 2.5%;
  bottom: 2.5%;
  width: 45px;
  height: 45px;
}
@media (max-width: 991px) {
  .image8Aerospace {
    right: 4%;
    bottom: 4%;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .image8Aerospace {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 575px) {
  .image8Aerospace {
    width: 30px;
    height: 30px;
  }
}

.contentBoxAerospace {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 10%;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/Title_Background.png");
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

.titleAerospace {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
}
@media (max-width: 1199px) {
  .titleAerospace {
    align-items: center;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .titleAerospace {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .titleAerospace {
    font-size: 12px;
  }
}

.imagePairGroupMilitary {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 118px 0 0;
  width: 22.8%;
  min-width: 0;
}

.coverImageMilitary {
  position: relative;
  width: 100%;
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}

.image8Military {
  position: absolute;
  right: 2.5%;
  bottom: 2.5%;
  width: 45px;
  height: 45px;
}
@media (max-width: 991px) {
  .image8Military {
    right: 4%;
    bottom: 4%;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .image8Military {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 575px) {
  .image8Military {
    width: 30px;
    height: 30px;
  }
}

.contentBoxMilitary {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 10%;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/Title_Background.png");
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

.titleMilitary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  width: 100%;
  height: 100%;
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
  text-align: center;
}
@media (max-width: 1199px) {
  .titleMilitary {
    align-items: center;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .titleMilitary {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .titleMilitary {
    font-size: 12px;
  }
}

.titleCustomize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  width: 100%;
  height: 100%;
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
  text-align: center;
}
@media (max-width: 1199px) {
  .titleCustomize {
    align-items: center;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .titleCustomize {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .titleCustomize {
    font-size: 12px;
  }
}

.imagePairGroupElectronic {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 118px;
  width: 22.8%;
  min-width: 0;
}

.coverImageElectronic {
  position: relative;
  width: 100%;
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}

.image8Electronic {
  position: absolute;
  right: 2.5%;
  bottom: 2.5%;
  width: 45px;
  height: 45px;
}
@media (max-width: 991px) {
  .image8Electronic {
    right: 4%;
    bottom: 4%;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .image8Electronic {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 575px) {
  .image8Electronic {
    width: 30px;
    height: 30px;
  }
}

.contentBoxElectronic {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 10%;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/Title_Background.png");
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

.titleElectronic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  width: 100%;
  height: 100%;
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
  text-align: center;
}
@media (max-width: 1199px) {
  .titleElectronic {
    align-items: center;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .titleElectronic {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .titleElectronic {
    font-size: 12px;
  }
}/*# sourceMappingURL=CNCIndustry.css.map */