.industryOverviewSection {
  display: flex;
  flex-direction: column;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/CNCIndustry_background.png");
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}
.industryOverviewSection .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/texture.jpg") center/cover no-repeat;
  mix-blend-mode: darken;
  opacity: 0.55;
  pointer-events: none;
  z-index: 1;
  border-radius: 20px;
}
.industryOverviewSection .content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.flexColGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 8rem 0;
}

.flexRowGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: auto;
}
@media (max-width: 991px) {
  .flexRowGroup {
    flex-direction: column;
    justify-content: center;
  }
}

.imageMachinery {
  width: 46.8vw;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  padding-top: 1.25rem;
}
@media (max-width: 991px) {
  .imageMachinery {
    width: calc(100vw - 4rem);
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  .imageMachinery {
    width: calc(100vw - 2rem);
    padding: 0 1rem;
  }
}
@media (max-width: 479px) {
  .imageMachinery {
    width: calc(100vw - 1rem);
    padding: 0 0.5rem;
  }
}

.rightColBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 46.8vw;
  margin: 3rem 1.5rem 2rem 1.5rem;
}
@media (max-width: 1440px) {
  .rightColBox {
    margin: 2rem 1.5rem 1rem 1.5rem;
  }
}
@media (max-width: 991px) {
  .rightColBox {
    width: calc(100vw - 4rem);
    padding: 0 2rem;
    aspect-ratio: 927/1041.25;
  }
}
@media (max-width: 767px) {
  .rightColBox {
    width: calc(100vw - 2rem);
    padding: 0 1rem;
    aspect-ratio: 927/1041.25;
  }
}
@media (max-width: 767px) {
  .rightColBox {
    width: calc(100vw - 0.6rem);
    padding: 0 0.3rem;
    aspect-ratio: 927/1041.25;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 47.5%;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/MillingMachine_Img.png");
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}
@media (max-width: 991px) {
  .imageContainer {
    width: calc(100% - 3rem);
    height: 47.5%;
  }
}

.imageContainer2 {
  position: relative;
  width: 100%;
  height: 47.5%;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/CarMilling_Img.png");
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}
@media (max-width: 991px) {
  .imageContainer2 {
    width: calc(100% - 3rem);
    height: 47.5%;
  }
}

.titleMillingMachine {
  position: absolute;
  top: 5%;
  left: 2.5%;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 35px;
  background: linear-gradient(0, #CD313F 44%, #972233 100%);
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}
@media (max-width: 991px) {
  .titleMillingMachine {
    width: 95%;
    border-radius: 2px;
    padding: 0.5rem 0;
  }
}
@media (max-width: 575px) {
  .titleMillingMachine {
    top: 7.5%;
    left: 5%;
    width: 90%;
  }
}
@media (max-width: 479px) {
  .titleMillingMachine {
    top: 5%;
    padding: 0;
  }
}

.flexColBox3 {
  position: absolute;
  top: 5%;
  left: 2.5%;
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 35px;
  background: linear-gradient(0, #CD313F 44%, #972233 100%);
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}
@media (max-width: 991px) {
  .flexColBox3 {
    width: 95%;
    border-radius: 2px;
    padding: 0.5rem 0;
  }
}
@media (max-width: 575px) {
  .flexColBox3 {
    top: 7.5%;
    left: 5%;
    width: 90%;
  }
}
@media (max-width: 479px) {
  .flexColBox3 {
    top: 5%;
    padding: 0;
  }
}

.medium_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(252, 233, 231);
  text-align: center;
  text-wrap: nowrap;
}
@media (max-width: 1440px) {
  .medium_title {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .medium_title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .medium_title {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .medium_title {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .medium_title {
    font-size: 18px;
  }
}
@media (max-width: 383px) {
  .medium_title {
    font-size: 15px;
  }
}

.imageProcessing {
  position: absolute;
  right: 2.5%;
  bottom: 5%;
  width: 65px;
  height: 65px;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .imageProcessing {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 991px) {
  .imageProcessing {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 479px) {
  .imageProcessing {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 383px) {
  .imageProcessing {
    width: 45px;
    height: 45px;
  }
}

.flexColGroup2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px 0;
  margin: 0 4rem 8rem 4rem;
}
@media (max-width: 1440px) {
  .flexColGroup2 {
    margin: 0 0 8rem 0;
  }
}

.heroTitleIndustry {
  margin-left: 1rem;
  font: 700 76px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}
@media (max-width: 991px) {
  .heroTitleIndustry {
    align-items: flex-start;
    font-size: 108px;
    margin-left: 4rem;
  }
}
@media (max-width: 767px) {
  .heroTitleIndustry {
    margin-left: 2rem;
    font-size: 80px;
  }
}
@media (max-width: 575px) {
  .heroTitleIndustry {
    margin-left: 1rem;
    font-size: 74px;
  }
}
@media (max-width: 479px) {
  .heroTitleIndustry {
    font-size: 60px;
  }
}
@media (max-width: 383px) {
  .heroTitleIndustry {
    font-size: 56px;
  }
}

.flexRowGroup1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 2rem;
}
@media (max-width: 1440px) {
  .flexRowGroup1 {
    gap: 0 1rem;
  }
}
@media (max-width: 991px) {
  .flexRowGroup1 {
    display: none;
    gap: 0 2rem;
  }
}

.mdAltGroup {
  display: none;
}
@media (max-width: 991px) {
  .mdAltGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}
@media (max-width: 575px) {
  .mdAltGroup {
    gap: 1rem;
  }
}

@media (max-width: 991px) {
  #groupCustomize {
    padding-top: 0;
  }
}

.mdAltRightCol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 575px) {
  .mdAltRightCol {
    gap: 1rem;
  }
}

.mdAltLeftCol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 575px) {
  .mdAltLeftCol {
    gap: 1rem;
  }
}

.imagePairGroupAerospace {
  position: relative;
  width: calc((100vw - 6rem - 8rem) / 4);
}
@media (max-width: 1440px) {
  .imagePairGroupAerospace {
    width: calc((100vw - 5rem) / 4);
  }
}
@media (max-width: 991px) {
  .imagePairGroupAerospace {
    width: calc((100vw - 8rem - 2rem) / 2);
  }
}
@media (max-width: 767px) {
  .imagePairGroupAerospace {
    width: calc((100vw - 4rem - 2rem) / 2);
  }
}
@media (max-width: 575px) {
  .imagePairGroupAerospace {
    width: calc((100vw - 2rem - 1rem) / 2);
  }
}

.imagePairGroupMilitary {
  position: relative;
  width: calc((100vw - 6rem - 8rem) / 4);
  padding-top: 7rem;
}
@media (max-width: 1440px) {
  .imagePairGroupMilitary {
    width: calc((100vw - 5rem) / 4);
  }
}
@media (max-width: 991px) {
  .imagePairGroupMilitary {
    width: calc((100vw - 8rem - 2rem) / 2);
  }
}
@media (max-width: 767px) {
  .imagePairGroupMilitary {
    width: calc((100vw - 4rem - 2rem) / 2);
  }
}
@media (max-width: 575px) {
  .imagePairGroupMilitary {
    width: calc((100vw - 2rem - 1rem) / 2);
  }
}

.coverImageAerospace {
  position: relative;
  width: 100%;
  aspect-ratio: 326/371;
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}

.imageAerospace {
  position: absolute;
  left: 90%;
  bottom: 18%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (max-width: 1440px) {
  .imageAerospace {
    left: 87.5%;
    bottom: 27.5%;
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 991px) {
  .imageAerospace {
    right: 4%;
    bottom: 0%;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .imageAerospace {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 575px) {
  .imageAerospace {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 383px) {
  .imageAerospace {
    left: 85%;
    width: 35px;
    height: 35px;
  }
}

.imageMilitary {
  position: absolute;
  left: 90%;
  bottom: calc(18% - 7rem);
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (max-width: 1440px) {
  .imageMilitary {
    left: 87.5%;
    bottom: calc(27.5% - 7rem);
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 991px) {
  .imageMilitary {
    right: 4%;
    bottom: 0%;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .imageMilitary {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 575px) {
  .imageMilitary {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 383px) {
  .imageMilitary {
    left: 85%;
    width: 35px;
    height: 35px;
  }
}

.titleAerospace {
  position: absolute;
  top: 4%;
  right: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  background: linear-gradient(0, #CD313F 44%, #972233 100%);
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
  padding: 2px 0;
}
@media (max-width: 1440px) {
  .titleAerospace {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .titleAerospace {
    align-items: center;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .titleAerospace {
    font-size: 32px;
    border-radius: 2px;
  }
}
@media (max-width: 767px) {
  .titleAerospace {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .titleAerospace {
    font-size: 26px;
    width: 85%;
    right: 7.5%;
    top: 6%;
  }
}
@media (max-width: 479px) {
  .titleAerospace {
    font-size: 24px;
  }
}
@media (max-width: 383px) {
  .titleAerospace {
    font-size: 20px;
  }
}

.titleMilitary {
  position: absolute;
  top: calc(4% + 7rem);
  right: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  background: linear-gradient(0, #CD313F 44%, #972233 100%);
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
  padding: 2px 0;
}
@media (max-width: 1440px) {
  .titleMilitary {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .titleMilitary {
    align-items: center;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .titleMilitary {
    font-size: 32px;
    border-radius: 2px;
  }
}
@media (max-width: 767px) {
  .titleMilitary {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .titleMilitary {
    font-size: 26px;
    width: 85%;
    right: 7.5%;
    top: calc(6% + 6.5rem);
  }
}
@media (max-width: 383px) {
  .titleMilitary {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  #altCustomizeTitle {
    top: 4%;
  }
}
@media (max-width: 575px) {
  #altCustomizeTitle {
    top: 6%;
  }
}

.coverImageMilitary {
  position: relative;
  width: 100%;
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}

.image8Military {
  position: absolute;
  right: 2.5%;
  bottom: 2.5%;
  width: 45px;
  height: 45px;
}
@media (max-width: 991px) {
  .image8Military {
    right: 4%;
    bottom: 4%;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .image8Military {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 575px) {
  .image8Military {
    width: 30px;
    height: 30px;
  }
}

.contentBoxMilitary {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 10%;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/Title_Background.png");
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

.titleCustomize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  width: 100%;
  height: 100%;
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
  text-align: center;
}
@media (max-width: 1024px) {
  .titleCustomize {
    align-items: center;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .titleCustomize {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .titleCustomize {
    font-size: 12px;
  }
}

.imagePairGroupElectronic {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 118px;
  width: 22.8%;
  min-width: 0;
}

.coverImageElectronic {
  position: relative;
  width: 100%;
  border-radius: 16px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}

.image8Electronic {
  position: absolute;
  right: 2.5%;
  bottom: 2.5%;
  width: 45px;
  height: 45px;
}
@media (max-width: 991px) {
  .image8Electronic {
    right: 4%;
    bottom: 4%;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .image8Electronic {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 575px) {
  .image8Electronic {
    width: 30px;
    height: 30px;
  }
}

.contentBoxElectronic {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 10%;
  background: center center/100% 100% no-repeat;
  background-image: url("/assets/Title_Background.png");
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

.titleElectronic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  width: 100%;
  height: 100%;
  font: 500 24px/1.29 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(254, 243, 242);
  text-align: center;
}
@media (max-width: 1024px) {
  .titleElectronic {
    align-items: center;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .titleElectronic {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .titleElectronic {
    font-size: 12px;
  }
}/*# sourceMappingURL=CNCIndustry.css.map */