.breadcrumb {
    list-style: none;
    font-family: "Chakra Petch";
    padding: 0 2rem;
    /* width: calc(100% - 2rem); */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* margin-bottom: 2rem; */
}

@media screen and (max-width: 992px) {
    .breadcrumb {
        padding: 0 1rem;
        margin-top: 2rem;
    }
}

ul.breadcrumb li {
    display: inline-block;
    font-size: 18px;
    color: #CD313F;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

ul.breadcrumb li:last-child {
    max-width: 50%;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #B0B0B0;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #B0B0B0;
    text-decoration: none;
}