@use "../utils" as *;

/* InfoCard.css */
.companyInfoSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(235 235 235 / 91.7%);
  border-radius: 20px;
  overflow: hidden;
  margin: 1.125rem 1.25rem 1.125rem 1.25rem;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}

.companyInfoSection:hover {
  background-color: #AC2433;
  color: #EBEBEB;
}

.flexRowContainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  padding: 1.5rem clamp(1vw,2rem,6vw);
}

.flexColContainer {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
}

.companyNameHighlight {
  display: flex;
  align-items: center;
  font: 900 18px/1.22 "Chakra Petch", Helvetica, Arial, serif;
  font-size: clamp(1vw, 24px, 3.5vw);;
  color: rgb(77 77 77);
  letter-spacing: -0.1px;
  transition: color 0.5s;
}

.companyInfoSection:hover .companyNameHighlight {
  color: #EBEBEB;
}

.flexRowInfo {
  display: flex;
  gap: 0 16px;
}

.companyImage {
  width: 24px;
  min-width: 0;
  height: 24px;
  transition: opacity 0.5s;
}

/* .companyInfoSection:hover .companyImage {
  opacity: 0;
} */

.locationHighlight {
  display: flex;
  align-items: center;
  margin: 3px 0 2px;
  min-width: 0;
  font: 500 16px/1.18 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(77 77 77);
  letter-spacing: -0.31px;
  transition: color 0.5s;
}

.companyInfoSection:hover .locationHighlight {
  color: #EBEBEB;
}

.IFC_additionalImage {
  width: clamp(2vw,44px,6vw);
  height: clamp(2vw,44px,6vw);
  transition: opacity 0.5s, transform 0.5s;
}

.companyInfoSection:hover .IFC_additionalImage {
  transform: scale(1);
}
