@use "../utils" as *;

.equipmentCardParent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.equipmentCardContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;

    @include xl {
        gap: 1rem;
    }

    @include md {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}

.equipmentCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    width: calc((100% - 2 * 2rem) / 3);
    margin-bottom: 1rem;
    // filter: drop-shadow(0 0 20px rgb(0 0 0 / 25%));

    @include xl {
        width: calc((100% - 2 * 1rem) / 3);
    }

    @include md {
        width: 60.5vw;
        flex: 0 0 auto;
    }
}

.titleContainer {
    width: 100%;
    // height: 4rem;
    display: flex;
    flex-direction: column;
    // background: center center / 100% 100% no-repeat;
    // background-image: url("/assets/card_backgroundImage.png");
    background: linear-gradient(0, #CD313F 44%, #972233 100%);
    border-radius: 10px;
    padding: 0.5rem 0;

    @include xl {
        padding: 2px 0;
    }

}

.titleText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font: 500 2rem/1.5 "Chakra Petch", Helvetica, Arial, serif;
    color: rgb(254 243 242);
    text-align: center;
    text-wrap: wrap;

    @include xl {
        font-size: 20px;
    }

    @include md {
        padding: 1rem;
        font-size: 2rem;
    }

    @include xs {
        font-size: 24px;
    }

    @include xxs {
        font-size: 20px;
    }

    @include tn {
        font-size: 16px;
    }
}

.cardImageContainer {
    height: auto;
    // aspect-ratio: 442.65 / 504;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin: 0 1px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.cardImage {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    object-fit: cover;
}

.aboutImage {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 8rem;
    aspect-ratio: 93 / 28;
    background: center center / 100% 100% no-repeat;
<<<<<<< Updated upstream
    background-image: url("/assets/about.png");
    overflow: hidden;
=======
    background-image: url("/assets/about.svg");
    transition: background-image 0.8s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    @include xl {
        width: 6rem;
    }

    @media screen and (max-width: 1240px) {
        width: 5rem;
    }

    @include md {
        width: 8rem;
    }

    @include sm {
        width: 6rem;
    }

    @include xxs {
        width: 4.5rem;
    }

    @include tn {
        width: 3.8rem;
    }
}

input {
    display: none;
}

.detailCardContainer {
    border-radius: 16px;
    width: 90%;
    height: 50%;
    background-color: #FFF;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 8% 0 8% 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 20px rgb(0 0 0 / 25%));
    opacity: 0;
    transition: opacity 1s ease-in-out;

    @include xl {
        gap: 0.7rem;
    }

    @include md {
        gap: 1.2rem;
    }

    @include sm {
        gap: 0.7rem;
    }

    @include tn {
        gap: 0.5rem;
    }
}

input[type="checkbox"]:checked + .detailCardContainer {
    opacity: 1;
}

input[type="checkbox"]:checked + .aboutImage {
    background-image: url("/assets/cancel.svg");
}

.redTitle {
    background: #ac2433;
    border-radius: 10px;
    width: 82.35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    box-shadow: var(
        --tag-box-shadow,
        0.0625rem 0.0625rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.25)
    );
    font-size: 1.4rem;
    color: #fef3f2;
    text-align: center;
    font-weight: 400;
    font-family: "Chakra Petch";
    padding: 0.4rem 0;

    @include xl {
        padding: 0.2rem 0;
        font-size: 1rem;
    }

    @media screen and (max-width: 1240px) {
        font-size: 0.8rem;
    }

    @include md {
        padding: 0.4rem 0;
        font-size: 1.4rem;
    }

    @include sm {
        font-size: 1rem;
    }

    @include xs {
        padding: 0.2rem 0;
        font-size: 0.8rem;
    }

    @include xxs {
        width: 80%;
        padding: 0.1rem 0;
        font-size: 0.8rem;
    }

    @include tn {
        padding: 0;
        font-size: 0.6rem;
    }
}

.whiteContent {
    border-radius: 72px;
    width: 82.35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    box-shadow: var(
        --tag-box-shadow,
        0.0625rem 0.0625rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.25)
    );
    font-size: 1.4rem;
    color: #4d4d4d;
    text-align: center;
    font-weight: 400;
    font-family: "Chakra Petch";
    padding: 0.4rem 0;

    @include xl {
        padding: 0.2rem 0;
        font-size: 1rem;
    }

    @media screen and (max-width: 1240px) {
        font-size: 0.8rem;
    }

    @include md {
        padding: 0.4rem 0;
        font-size: 1.4rem;
    }

    @include sm {
        font-size: 1rem;
    }

    @include xs {
        padding: 0.2rem 0;
        font-size: 0.8rem;
    }

    @include xxs {
        width: 80%;
        padding: 0.1rem 0;
        font-size: 0.8rem;
    }

    @include tn {
        font-size: 0.6rem;
    }
>>>>>>> Stashed changes
}