.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    font-family: "Chakra Petch";
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: #CD313F;
}

  /* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #B0B0B0;
    content: "/\00a0";
}

  /* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #B0B0B0;
    text-decoration: none;
}