@use "../utils" as *;

.nb_container{
    display: flex;
    justify-content: center;
    width: calc(100% - 2 * 2rem);
    margin: 0 2rem;
    @include md {
        display: contents;
    }
}

.group {
    display: flex;
    flex-direction: column;
    min-height: 67px;
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
    @include xl {
        margin: 2rem 0rem 1rem 0rem;
    }
    @include md {
        display: none;
    }
}

.navBar {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(250 250 250 / 80.7%);
    border-radius: 10px;
    filter: drop-shadow(1px 1px 5px rgb(0 0 0 / 25%));

    @include md {
        display: none;
    }
}

.languageButton {
    position: absolute;
    top: 17px;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 34px;
    font: 500 16px/1.31 "Chakra Petch", Helvetica, Arial, serif;
    color: rgb(255 242 242);
    text-align: center;
    background-color: rgb(244 173 173);
    border-radius: 17px;
    padding: 6.5px 16px;
    border-style: none;
    @include xl {
        font-size: 0.9rem;
        width: 90px;
    }
}

.NavflexRowContainer {
    position: relative;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 0 2rem;
    margin: 0 337px 0 0;
    width: 1032px;
    height: 67px;
}

.NavcompanyImage {
    width: 206px;
    min-width: 0;
    cursor: pointer;
}

.highlightTextRow {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 766px;
    min-width: 0;
    @include xl {
        width: 65vw;
        gap: 1.5rem;
        justify-content: flex-start;
    }
}

.cncExpertText {
    display: flex;
    align-items: center;
    min-width: 0;
    font: 500 16px/1.31 "Chakra Petch", Helvetica, Arial, serif;
    color: rgb(76 76 76);
    text-decoration: none;
    cursor: pointer;
    @include xl {
        font-size: 0.8rem;
    }
}

.MenuContainer {
    display: none;
    padding: 0;
    margin: 0;
    @include md {
        display: contents;
    }
}

.MenuRowContainer {
    display: flex;
    padding-top: 2rem;
    width: 100%;
    background-color: #AC2433;
    justify-content: space-between;
}

.MenuButton {
    margin-left: 1rem;
    cursor: pointer;
}

.MenuPhone{
    margin-right: 1rem;
    cursor: pointer;
}

.abc{
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
    padding: 0;
}

input {
    display: none;
}

.overlayMenu {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #AC2433;
    z-index: 1000;
    padding-top: 2rem;
}

.hm_CNCexpert{
    font: 600 2rem/1.18 "Chakra Petch", Helvetica, Arial, serif;
    color: #ffffff;
    letter-spacing: 2px;
    cursor: pointer;
}

.LangButton{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 100vh;
}

.MenuRowTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CNCContainer{
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.hm_belowTitle{
    margin-left: 2rem;
    margin-top: 1rem;
    font: 400 1.2rem/1.18 "Chakra Petch", Helvetica, Arial, serif;
    color: #FFF;
    letter-spacing: 1px;
    cursor: pointer;
}

.downVector {
    cursor: pointer;
}