.nb_container {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 1199px) {
  .nb_container {
    display: contents;
  }
}

.group {
  display: flex;
  flex-direction: column;
  min-height: 67px;
  width: 95%;
  margin: 2rem 0rem 2rem 0rem;
}
@media (max-width: 1199px) {
  .group {
    display: none;
  }
}

.navBar {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.807);
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}
@media (max-width: 1199px) {
  .navBar {
    display: none;
  }
}

.languageButton {
  position: absolute;
  top: 17px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 34px;
  font: 500 16px/1.31 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(255, 242, 242);
  text-align: center;
  background-color: rgb(244, 173, 173);
  border-radius: 17px;
  padding: 6.5px 16px;
  border-style: none;
}

.NavflexRowContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 0 337px 0 0;
  width: 1032px;
  height: 67px;
}

.NavcompanyImage {
  width: 206px;
  min-width: 0;
}

.highlightTextRow {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 766px;
  min-width: 0;
}

.cncExpertText {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 16px/1.31 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(76, 76, 76);
  text-decoration: none;
  cursor: pointer;
}

.industryText {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 16px/1.31 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(76, 76, 76);
  text-decoration: none;
  cursor: pointer;
}

.equipmentText {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 16px/1.31 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(76, 76, 76);
  text-decoration: none;
}

.aboutGetTechText {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 16px/1.31 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(76, 76, 76);
  text-decoration: none;
  cursor: pointer;
}

.contactUsText {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 16px/1.31 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(76, 76, 76);
  text-decoration: none;
}

.chGroupText {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 16px/1.31 "Chakra Petch", Helvetica, Arial, serif;
  color: rgb(76, 76, 76);
  text-decoration: none;
}

.MenuContainer {
  display: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 1199px) {
  .MenuContainer {
    display: contents;
  }
}

.MenuRowContainer {
  display: flex;
  padding-top: 2rem;
  width: 100%;
  background-color: #AC2433;
  justify-content: space-between;
}

.MenuButton {
  margin-left: 1rem;
  cursor: pointer;
}

.MenuPhone {
  margin-right: 1rem;
  cursor: pointer;
}

.abc {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
  padding: 0;
}

input {
  display: none;
}

.overlayMenu {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #AC2433;
  z-index: 1000;
  padding-top: 2rem;
}

.hm_CNCexpert {
  font: 600 2rem/1.18 "Chakra Petch", Helvetica, Arial, serif;
  color: #ffffff;
  letter-spacing: 2px;
  cursor: pointer;
}

.LangButton {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 100vh;
}

.MenuRowTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CNCContainer {
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.hm_belowTitle {
  margin-left: 2rem;
  margin-top: 1rem;
  font: 400 1.2rem/1.18 "Chakra Petch", Helvetica, Arial, serif;
  color: #FFF;
  letter-spacing: 1px;
  cursor: pointer;
}

.downVector {
  cursor: pointer;
}/*# sourceMappingURL=NavBar.css.map */