@use "../utils" as *;

.ContactUsParent {
  width: 100vw;
  // height: 716px;
  padding-top: 1.1vw;
  background-image: url("/assets/wave_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  // z-index: -2;

  @include md {
    background-image: url("/assets/mobile_wave.svg");
  }
}

.ContactSection {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: center;
  position: relative;
  // margin-left: 1.1vw;
  // margin-right: 1.1vw;
  z-index: 100;

  @include md {
    font-size: 74px;
    flex-direction: column;
    align-items: center;
  }

}

// .ContactUsParent .CUoverlay {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: url("/assets/texture.jpg") center/cover no-repeat;
//   mix-blend-mode: darken;
//   opacity: 0.55;
//   pointer-events: none;
//   z-index: 1;
//   border-radius: 20px;
// }

.leftSection {
  display: flex;
  width: calc((100vw - 2 * 4rem - 2vw) / 2);

  @media screen and (max-width: 1281px) {
    width: calc((100vw - 2 * 2rem - 2vw) / 2);
  }

  @include md {
    width: calc(100vw - 2 * 1rem);
  }

  @include xs {
    width: calc(100vw - 2 * 0.5rem);
  }

}

.rightSection{
  width: calc((100vw - 2 * 5rem - 2vw) / 2);

  @include xl {
    width: calc((100vw - 2 * 5.5rem - 2vw) / 2);
  }

  @media screen and (max-width: 1281px) {
    width: calc((100vw - 2 * 3rem - 2vw) / 2);
  }

  @include md {
    width: calc(100vw - 2 * 2rem);
  }

  @include xs {
    width: calc(100vw - 2 * 1rem);
  }

}

.MessageForm {
  position: relative;
  background-image: url("/assets/rightSection_bg.svg");
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 674 / 643;
  display: flex;
  flex-direction: column;
}

.ContactUsTitle{
  position: relative;
  // background-image: url("/assets/polygon.svg");
  background-image: url("/assets/leftSection.svg");
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 674 / 643;

}

.ContactTitle{
  // display: flex;
  display: none;
  color: white;
  font: 700 108px/1.29 "Chakra Petch", Helvetica, Arial, serif;

  @include xl {
    font-size: 74px;
  }

  @media screen and (max-width: 1025px) {
    font-size: 58px;
  }

  @include md {
    font-size: 108px;
  }

  @include sm {
    font-size: 88px;
  }

  @include xs {
    font-size: 68px;
  }

  @include xxs {
    font-size: 54px;
  }

}

.InnerInfoContainer {
  margin-top: 6rem;
  margin-left: 3rem;

  @include xl {
    margin-top: 4rem;
    margin-left: 2rem;
  }

  @media screen and (max-width: 1281px) {
    margin-top: 3rem;
  }

  @include md {
    margin-top: 7rem;
    margin-left: 3rem;
  }

  @include sm {
    margin-top: 4.5rem;
    margin-left: 2.5rem;
  }

  @include xs {
    margin-top: 3.5rem;
    margin-left: 2rem;
  }

  @include xxs {
    margin-top: 3rem;
    margin-left: 1.5rem;
  }

}

.InnerTitleContainer {
  // display: flex;
  display: none;
  flex-direction: row;
  align-items: center;
}

.InnerInfoTitle {
  color: #545354;
  font: 500 2rem/1.29 "Chakra Petch", Helvetica, Arial, serif;

  @include xl {
    font-size: 28px;
  }

  @media screen and (max-width: 1025px) {
    font-size: 24px;
  }

  @include md {
    font-size: 3rem;
  }

  @include sm {
    font-size: 2rem;
  }

  @include xs {
    font-size: 1.75rem;
  }

  @include xxs {
    font-size: 1.5rem;
  }

}

.NationFlag {
  width: 2rem;
  aspect-ratio: 1 / 1;

  @media screen and (max-width: 1025px) {
    width: 1.5rem;
    font-size: 16px;
  }

  @include md {
    width: 2.5rem;
  }

  @include sm {
    width: 2rem;
  }

  @include xs {
    width: 1.75rem;
  }

  @include xxs {
    width: 1.5rem;
  }

}

.InnerInfoLocation {
  // display: flex;
  display: none;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;

  @media screen and (max-width: 1025px) {
    margin-left: 1.5rem;
  }

  @include md {
    margin-left: 2rem;
  }

  @include sm {
    margin-left: 2.5rem;
  }

  @include xs {
    margin-left: 1.75rem;
  }

  @include xxs {
    margin-left: 1.25rem;
  }

}

.LocationText {
  color: #545354;
  font: 500 1.5rem/1.29 "Chakra Petch", Helvetica, Arial, serif;
  margin-left: 0.5rem;

  @include xl {
    font-size: 20px;
  }

  @media screen and (max-width: 1025px) {
    font-size: 16px;
  }

  @include md {
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }

  @include sm {
    font-size: 1.75rem;
    margin-left: 0.8rem;
  }

  @include xs {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  @include xxs {
    font-size: 1.25rem;
    margin-left: 0.5rem;
  }

}

.ContactInfoContainer {
  // display: flex;
  display: none;
  flex-direction: column;
  margin-top: 4rem;
  gap: 2rem;

  @include xl {
    gap: 1.5rem;
    margin-top: 2.5rem;
  }

  @media screen and (max-width: 1025px) {
    margin-top: 1.5rem;
    gap: 1rem;
  }

  @include md {
    gap: 2rem;
    margin-top: 3rem;
  }

  @include sm {
    gap: 1.5rem;
    margin-top: 2.5rem;
  }

  @include xs {
    gap: 1rem;
    margin-top: 1.5rem;
  }

  @include xxs {
    gap: 0.75rem;
    margin-top: 1.25rem;
  }

}

.InnerPhoneContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PhoneNumberText {
  color: #545354;
  font: 500 1.5rem/1.29 "Chakra Petch", Helvetica, Arial, serif;
  margin-left: 2rem;
  background-color: #dadada80;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 5rem;
  width: 30%;

  @include xl {
    font-size: 20px;
    margin-left: 1.5rem;
  }

  @media screen and (max-width: 1025px) {
    font-size: 16px;
    margin-left: 1rem;
  }

  @include md {
    font-size: 2rem;
  }

  @include sm {
    font-size: 1.75rem;
    width: 40%;
  }

  @include xs {
    font-size: 1.5rem;
  }

  @include xxs {
    font-size: 1.25rem;
    margin-left: 0.75rem;
  }

}

.PhoneIcon {

  @media screen and (max-width: 1025px) {
    width: 1.5rem;
    aspect-ratio: 1 / 1;
  }

  @include md {
    width: 2.5rem;
  }

  @include sm {
    width: 2rem;
  }

  @include xs {
    width: 1.75rem;
  }

  @include xxs {
    width: 1.5rem;
  }

}

.InnerEmailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.EmailText {
  color: #545354;
  font: 500 1.5rem/1.29 "Chakra Petch", Helvetica, Arial, serif;
  margin-left: 2rem;
  background-color: #dadada80;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 5rem;
  width: 30%;

  @include xl {
    font-size: 20px;
    margin-left: 1.5rem;
  }

  @media screen and (max-width: 1025px) {
    font-size: 16px;
    margin-left: 1rem;
  }

  @include md {
    width: 40%;
    font-size: 2rem;
  }

  @include sm {
    font-size: 1.75rem;
    width: 40%;
  }

  @include xs {
    font-size: 1.5rem;
  }

  @include xxs {
    font-size: 1.25rem;
    margin-left: 0.75rem;
  }

}

.InnerAddressContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AddressText {
  color: #545354;
  font: 500 1.5rem/1.29 "Chakra Petch", Helvetica, Arial, serif;
  margin-left: 2rem;
  background-color: #dadada80;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 5rem;
  width: 55%;

  @include xl {
    font-size: 20px;
    margin-left: 1.5rem;
  }

  @media screen and (max-width: 1025px) {
    font-size: 16px;
    margin-left: 1rem;
    width: 60%;
  }

  @include md {
    font-size: 2rem;
    width: 70%;
  }

  @include sm {
    font-size: 1.75rem;
  }

  @include xs {
    font-size: 1.25rem;
    width: 65%;
  }

  @include xxs {
    font-size: 1rem;
    margin-left: 0.75rem;
  }

}

.FormContainer {
  width: calc(100% - 2 * 4rem);
  height: 100%;
  position: relative;
  margin-left: 4rem;
  // padding-top: 4.875rem;
  display: flex;
  flex-direction: column;

  @include xl {
    width: calc(100% - 2 * 2rem);
    margin-left: 2rem;
  }

  @media screen and (max-width: 1025px) {
    width: calc(100% - 2 * 2rem);
    margin-left: 2rem;
    // padding-top: 2rem;
  }

  // @include md {
  //   padding-top: 5rem;
  // }

  @include sm {
    width: calc(100% - 2 * 2.5rem);
    // padding-top: 2rem;
    margin-left: 2.5rem;
  }

  @include xs {
    width: calc(100% - 2 * 2rem);
    // padding-top: 2rem;
    margin-left: 2rem;
  }

  @include xxs {
    width: calc(100% - 2 * 1rem);
    // padding-top: 1.5rem;
    margin-left: 1rem;
  }
  
}

.field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 1025px) {
    margin-bottom: 1rem;
  }

  @include sm {
    margin-bottom: 0.125rem;
  }

}

.field label {
  display: flex;
  align-items: center;
  margin-right: 1rem;

  @include xxs {
    margin-right: 0.75rem;
  }

  @include tn {
    margin-right: 0.5rem;
  }
  
}

.field label img {

  @media screen and (max-width: 1025px) {
    width: 1.5rem;
    aspect-ratio: 1 / 1;
  }

  @include md {
    width: 2rem;
  }

  @include sm {
    width: 2.5rem;
  }

  @include xs {
    width: 1.5rem;
  }

  @include xxs {
    width: 1.25rem;
  }

  @include tn {
    width: 1rem;
  }

}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: #dadada80;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  // padding-right: 30%;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @include xl {
    font-size: 20px;
  }

  @media screen and (max-width: 1025px) {
    font-size: 16px;
  }

  @include md {
    font-size: 1.75rem;
  }

  @include sm {
    font-size: 1.5rem;
  }

  @include xs {
    font-size: 1.25rem;
  }

  @include xxs {
    font-size: 1rem;
  }

  @include tn {
    padding-left: 0.75rem;
    font-size: 0.75rem;
  }

}

.field textarea {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: #dadada80;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  // padding-right: 30%;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @include xl {
    font-size: 20px;
  }

  @media screen and (max-width: 1025px) {
    font-size: 16px;
  }

  @include md {
    font-size: 1.75rem;
  }

  @include sm {
    font-size: 1.5rem;
  }

  @include xs {
    font-size: 1.25rem;
  }

  @include xxs {
    font-size: 1rem;
  }

  @include tn {
    padding-left: 0.75rem;
    font-size: 0.75rem;
  }

}

.field input::placeholder {
  color: #54535459;
}

.field textarea::placeholder {
  color: #54535459;
}

#message {
  width: 100%;
  height: calc(1.5rem * 13 + 2rem);
  box-sizing: border-box;
  display: block;
  overflow-y: auto;
  word-wrap: break-word;
  vertical-align: text-top;
  resize: none;

  @media screen and (max-width: 1800px) {
    height: calc(1.5rem * 7 + 2rem);
  }

  @include xl {
    height: calc(1.5rem * 7 + 2rem);
  }

  @media screen and (max-width: 1281px) {
    height: calc(1.5rem * 5.5 + 2rem);
  }

  @media screen and (max-width: 1025px) {
    height: calc(1.5rem * 4 + 2rem);   
  }

  @include md {
    height: calc(1.5rem * 8.5 + 2rem);
  }

  @include sm {
    height: calc(1.5rem * 6.5 + 2rem);
  }

  @include xs {
    height: calc(1.5rem * 4 + 2rem);
  }

  @include xxs {
    height: calc(1.5rem * 3 + 2rem);
  }

}

#messageField {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 0;
}

input[type="submit"] {
  display: flex;
  justify-content: center;
  aspect-ratio: 65 / 22.27137;
  width: 20%;
  margin: 0 auto;
  // padding: 6px 30px;
  font-size: 26px;
  font-family: "Chakra Petch";
  border-radius: 35px;
  background-color: #31CD37;
  color: #fff;
  border: none;
  cursor: pointer;

  @include xl {
    font-size: 16px;
  }

  @include md {
    margin-top: 8px;
    font-size: 28px;
  }

  @include sm {
    margin-top: 16px;
    font-size: 1.5rem;
  }

  @include xs {
    margin-top: 0px;
    font-size: 1.25rem;
  }

  @include xxs {
    font-size: 1rem;
  }

  @include tn {
    font-size: 0.75rem;
  }

}

.AlertBox {
  visibility: hidden;
  opacity: 0;
  // visibility: visible;
  // opacity: 1;
  position: absolute;
  top: 35%;
  margin: 0 auto;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 257 / 40.02;
  transition: opacity 1s;

}

.submitBtn {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto 0;
  justify-content: space-between;

  @include md {
    height: 90%;
  }

  // gap: 15%;

  // @include xl {
  //   gap: 0.25rem;
  // }

  // @media screen and (max-width: 1025px) {
  //   gap: 1rem;
  // }

  // @include md {
  //   gap: 2rem;
  // }

  // @include sm {
  //   gap: 1.5rem;
  // }

  // @include xs {
  //   gap: 1rem;
  // }

  // @include xxs {
  //   gap: 0.75rem;
  // }

}

#button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.sendBtn {
  display: none;
  position: absolute;
  // margin: 0 auto;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 10;
}

.CHG_Section {
  margin-top: 10rem;
}

.CH-Group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
}

.CHG_Title {
  position: relative;
  background-image: url("/assets/CH_Group_bg.svg");
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(100vw - 2 * 4rem); 
  aspect-ratio: 1371 / 575;

  @media screen and (max-width: 1281px) {
    width: calc(100vw - 2 * 3rem);
  }

  @include md {
    width: calc(100vw - 2 * 2rem);
  }

  @include xs {
    width: calc(100vw - 2 * 1rem);
  }

}

.CHG_Content {
  display: none;
  font: 500 1.5rem "Chakra Petch", Helvetica, Arial, serif;
  color: #fff;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  bottom: 10%;
  text-align: center;
  width: 62.5%;
}

.belowSectionParent {
  display: flex;
  justify-content: center;
  width: calc(100vw - 2 * 4rem); 
  margin-left: 4rem;

  @media screen and (max-width: 1281px) {
    width: calc(100vw - 2 * 3rem);
    margin-left: 3rem;
  }

  @include md {
    width: calc(100vw - 2 * 2rem);
    margin-left: 2rem;
  }

  @include xs {
    width: calc(100vw - 2 * 1rem);
    margin-left: 1rem;
  }
}

.belowSection {
  display: flex;
  flex-direction: row;
  width: 100%; 
  gap: 1rem;
  align-items: center;

  @include md {
    flex-direction: column;
    gap: 2rem;
  }

}


.ManufacturePhoto {
  width: calc((100vw - 2 * 4rem - 2 * 1rem) / 3);
  border-radius: 20px;

  @media screen and (max-width: 1281px) {
    width: calc((100vw - 2 * 3rem - 2 * 1rem) / 3);
  }

  @include md {
    width: calc(100vw - 2 * 2rem - 30vw);
    margin-right: 30vw;
    border-radius: 8px;
  }

  @include xs {
    width: calc(100vw - 2 * 1rem - 30vw);
    margin-right: 30vw;
  }
}

#ServicePhoto {
  @include md {
    width: calc(100vw - 2 * 2rem - 30vw);
    margin-left: 30vw;
    border-radius: 8px;
  }

  @include xs {
    width: calc(100vw - 2 * 1rem - 30vw);
  }
}

.ManufactureSection {
  position: relative;
}

.ServiceSection {
  position: relative;

  @include md {
    width: calc(100vw - 2 * 2rem);
  }

  @include xs {
    width: calc(100vw - 2 * 1rem);
  }

}

.AgentSection {
  position: relative;
}

.belowTitleParent {
  display: flex;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  top: 15%;
  left: 47.5%;
  justify-content: center;

  @include md {
    width: calc(100vw - 2 * 2rem - 30vw);
    left: calc(50% - 30vw + 4 * 2rem);
  }

  @include sm {
    left: calc(50% - 30vw + 4 * 2rem - 3.5rem);
  }

  @include xs {
    width: calc(100vw - 2 * 1rem - 30vw);
    left: calc(50% - 30vw + 4 * 1rem);
  }

  @include xxs {
    left: calc(50% - 30vw + 4 * 1rem - 0.9375rem);
  }
}

#ServiceBelowTitle{
  @include md {
    left: calc(50% + 30vw - 5 * 2rem);
  }

  @include sm {
    left: calc(50% - 30vw + 5 * 2rem + 5.5rem);
  }

  @include xs {
    left: calc(50% + 30vw - 5 * 1rem);
  }

  @include xxs {
    left: calc(50% + 30vw - 4 * 1rem - 0.3125rem);
  }
}

.belowTitleBackground {
  background-color: #fff;
  text-align: center;
  width: 70%;
  padding: 2%;
  border-radius: 10px;

  @include md {
    // display: none;
    // display: absolute;
    // transform: translate(-50%, -50%);
    // left: calc(50% - 30vw);
    // width: calc(80% - 30vw);
  }
}

.belowTitle {
  font: 700 1.125rem "Chakra Petch", Helvetica, Arial, serif;
  background: linear-gradient(0, #CD313F 44%, #972233 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @media screen and (max-width: 1281px) {
    font-size: 1rem;
  }

  @include md {
    font-size: 2.125rem;
  }

  @include sm {
    font-size: 1.5rem;
  }

  @include xs {
    font-size: 1.25rem;
  }

  @include xxs {
    font-size: 1rem;
  }

}

.Hyperlink {
  position: absolute;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
  right: 2.5%;
  top: 50%;
  cursor: pointer;

  @include xl {
    width: 3.5rem;
  }

  @media screen and (max-width: 1281px) {
    width: 3.25rem;
  }

  @include lg {
    width: 3rem;
  }

  @include md {
    width: 5.5rem;
  }

  @include sm {
    transform: translate(-25%, -50%);
    right: 0%;
    width: 4rem;
  }

  @include xs {
    transform: translate(-25%, -50%);
    right: 0%;
    width: 3.5rem;
  }

  @include xxs {
    transform: translate(-25%, -50%);
    right: 0%;
    width: 2.5rem;
  }

}